@media (max-width:768px){
    #bg_change{
        /* margin-top: 10% !important; */
       /* background-size: contain !important; */
       height: 100vh !important;
    }
    #small__text{
        font-size: 1.8rem !important;
    }
    .con {
        background-color:rgb(106,175,252);
    }
    #bg_switch {
        background-size: contain !important;
        background-repeat: repeat;
        border: none;
    }

    #bg____switch {
        background-size: contain;
    }

    #bg____switch_1{
        background-size: contain;
        height: 50vh;
    }
  
    #mobile_h1{
        padding-bottom: 70px;
    }
}

@media((min-width:590px) and (max-width:1024px)){
    .con2{
       margin-top: 200px;
    }
}

#image_logo {
    font-size: 5rem !important;
}

#gold_color{
	color:rgb(240,165,0) !important;
}

#bg_gold{
background-color: rgb(240,165,0) !important;
}

.bg{
    background-color: green !important;
    font-size: 3rem !important;
}

#bg_white{
    background-color: white;
}

#white_color{
    color: white;
}