@media (max-width:968px){
    #bg_change{
        /* margin-top: 10% !important; */
       /* background-size: contain !important; */
       height: 100vh !important;
    }
    #small__text{
        font-size: 1.8rem !important;
    }
}



#image_logo {
    font-size: 5rem !important;
}

#gold_color{
	color:rgb(240,165,0) !important;
}

#bg_gold{
background-color: rgb(240,165,0) !important;
}

.bg{
    background-color: green !important;
    font-size: 3rem !important;
}

#bg_white{
    background-color: white;
}

#white_color{
    color: white;
}